body {
  margin: 0px;
  padding: 0px;
  background-image: url(https://source.unsplash.com/1600x900/?wildlife);
  background-color: #9fc131;
  background-position: top top;
  background-size: cover;
  background-repeat: no-repeat;
  font-family: "Roboto", sans-serif;
  height: 100vh;
  width: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.wrapper {
  filter: drop-shadow(5px 2px 10px rgba(0, 0, 0, 0.5));
}

.container {
  opacity: 0.85;
  display: flex;
  align-items: center;
  flex-direction: row;
  background-color: white;
  background-position: top left;
  background-size: cover;
  justify-content: space-evenly;
  padding: 20px;
  border-radius: 8px 8px 0px 0px;
}

h1 {
  color: #9fc131;
  font-size: 60px;
  margin: 0px;
}

h2 {
  color: black;
  font-size: 16px;
  margin: 0px;
}

.dados {
  font-size: 20px;
}

.logo {
  margin-left: 30px;
  filter: drop-shadow(0px 2px 7px rgba(0, 0, 0, 0.5));

}

.footer {
  text-align: right;
  width: 100%;
  background-color: #9fc131;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: flex-end;
  color: white;
  font-size: 20px;
  border-radius: 0px 0px 8px 8px;
}

.wppButton {
  width: 100%;
  padding: 10px;
  color: white;
  font-size: 30px;
  text-align: center;
  background-color: #9fc131;
  border: 0px;
  flex-grow: 1;
  margin-top: 50px;
  text-decoration: none;

}

.footer a {
  font-size: 30px;
  padding: 10px;
  color: white;
}

.content {
  padding: 20px;
}

#imageid {
  width: 300px;

}

.mobile-break { display: none; height: 20px;}

@media only screen and (max-width: 600px) {
  .container {
    opacity: 0.85;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: white;
    background-position: top left;
    background-size: cover;
    justify-content: space-evenly;
    padding: 20px;
    border-radius: 8px 8px 0px 0px;
  }

  #imageid {
    width: 100px;
  }

  .footer {
    align-items: center;
    text-align: center;
    justify-content: center;
  }
  .mobile-break { display: block; }
  .content {
    padding: 10px;
  }
  h1{
    font-size: 40px;
    margin-top: 20px;
  }
}
