body{
    margin:0px;
    padding:0px;
    background-image: url(https://source.unsplash.com/1600x900/?hedgehog,arara,tucano,cobra,lagarto,gecko,rabbit);
    min-height:100vh;
    background-position: top center;
    background-size: cover;
    background-repeat:no-repeat;
    font-family: 'Roboto', sans-serif;
}

.data{
    display:flex;
    flex-direction: column;
    width:50%
}
.dados{
    background-color: rgba(255,255,255,0.8);
    font-family: 'Roboto', sans-serif;
    padding:20px;
    margin: 10px 0px;


}
.dadosmd{
    background-color: rgba(255,255,255,0.8);
    font-family: 'Roboto', sans-serif;
    font-size:25px;
    padding:10px;
    margin: 10px 0px;


}


.dadoswa{
    font-family: 'Roboto', sans-serif;
    padding:10px;
    margin: 10px 10px;
    min-width:90vw;

}

.dadoswa a{
    font-family: 'Roboto', sans-serif;
    padding:10px;
    margin: 10px 10px;
    background: #128c7e;
    color:white;
    text-decoration: none;
    border-radius:10px;
    font-size:18px;
}



.midias{

}

a{
    color:black
}
.container{
    display: flex;
    flex-direction: column;

    padding-top:50px;
}
.dataInt{
    flex-grow: 1;
}
footer{
    background-color:rgba(238,198,0,.7);
    bottom: 0;
    font-size:16px;
    text-align: right;
}

p{
    padding:20px;

}

@media only screen and (max-width: 600px) {

    .data{
        display:flex;
        flex-direction: column;
        width:100vw
    }

    footer{

     
        bottom: 0;
        width:100vw;
        font-size:16px;
        text-align: center;
    
    }
}